<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>{{ page.title }}</title>
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="website" property="og:type" />
  <meta content="" property="og:description" />
  <meta content="" property="og:url" />
  <meta content="large.jpg" property="og:image" />
  <meta content="" property="og:title" />
  <meta content="" name="description" />
  <link href="assets/css/style.css" rel="stylesheet" />
 </head>
 <body>
   <div class="gcr-page-container">
   <div class="gcr-row gcr-row-1">
    <div class="gcr-row-content">
     <div class="gcr-col gcr-col-1 gcr-col-w12">
      <div class="gcr-block gcr-block-1 gcr-image">
       <img alt="Gean Ramos" class="gcr-center gcr-autowidth" src="https://geanramos.com.br/img/avatar.png" style="max-width:80px;border-radius: 45px;">
      </div>
