@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/geanramos/18011975/fonts/google-sans/style.css');

.gcr-row,
.gcr-row-content {
	position: relative
}

.gcr-row-1,
.gcr-row-1 .gcr-row-content {
	background-repeat: no-repeat
}

body {
	background-color: #ffffff;
	color: #262626;
	font-family: "Roboto", RobotoDraft, Helvetica, Arial, sans-serif;;
}

a {
	color: #0000ff
}

.gcr-block.gcr-block-3.gcr-paragraph img {
	max-width: 100%;
	border-radius: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


* {
	box-sizing: border-box
}

body,
h1,
p {
	margin: 0
}

h2 {
	color: #00f;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
	color: #00F;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
}

.gcr-row-content {
	max-width: 500px;
	margin: 0 auto;
	display: flex
}

.gcr-row-content .gcr-col-w12 {
	flex-basis: 100%
}

.gcr-button a {
	text-decoration: none
}

.gcr-button-content {
	text-align: center font-size: 16px;
	display: inline-block;
}

.gcr-image {
	overflow: auto
}

.gcr-image .gcr-center {
	margin: 0 auto
}

.gcr-row-1 .gcr-col-1 .gcr-block-1,
.gcr-row-1 .gcr-col-1 .gcr-block-7,
.gcr-row-1 .gcr-col-1 .gcr-block-9 {
	width: 100%
}

.gcr-image img {
	display: block;
	/*! width: 90%; */
	border-radius: 4px
}

.gcr-paragraph {
	overflow-wrap: anywhere
}

.gcr-social .icon img {
	max-height: 32px
}

@media (max-width:520px) {
	.gcr-row-content:not(.no_stack) {
		display: block
	}
}

.gcr-row-1 .gcr-row-content {
	color: #262626
}

.gcr-row-1 .gcr-col-1 {
	padding-bottom: 5px;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.gcr-row-1 .gcr-col-1 .gcr-block-2 {
	padding: 10px;
	text-align: center;
	width: 100%
}

.gcr-row-1 .gcr-col-1 .gcr-block-3,
.gcr-row-1 .gcr-col-1 .gcr-block-5 {
	padding: 10px
}

.gcr-row-1 .gcr-col-1 .gcr-block-11,
.gcr-row-1 .gcr-col-1 .gcr-block-4 {
	padding: 10px;
	text-align: center
}

.gcr-row-1 .gcr-col-1 .gcr-block-10 {
	padding: 15px;
	width: 100%
}

.gcr-row-1 .gcr-col-1 .gcr-block-3,
.gcr-row-1 .gcr-col-1 .gcr-block-5 {
	color: #262626;
	direction: ltr;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 120%;
	text-align: left;
}

.gcr-row-1 .gcr-col-1 .gcr-block-12 a,
.gcr-row-1 .gcr-col-1 .gcr-block-3 a,
.gcr-row-1 .gcr-col-1 .gcr-block-5 a {
	color: #0000ff
}

.gcr-row-1 .gcr-col-1 .gcr-block-12 p:not(:last-child),
.gcr-row-1 .gcr-col-1 .gcr-block-3 p:not(:last-child) {
	margin-bottom: 16px
}

.gcr-row-1 .gcr-col-1 .gcr-block-2 h1 {
	color: #0000ff;
	direction: ltr;
	font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: normal;
	/*! line-height: 120%; */
	text-align: center
}

.gcr-row-1 .gcr-col-1 .gcr-block-5 p:not(:last-child) {
	margin-bottom: 16px
}

.gcr-row-1 .gcr-col-1 .gcr-block-12 {
	padding: 10px;
	color: #aaa;
	direction: ltr;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 120%;
	text-align: center
}

.gcr-row-1 .gcr-col-1 .gcr-block-4 a:hover {
	background-color: #2510a3 !important;
	border-bottom: 0 solid transparent !important;
	border-left: 0 solid transparent !important;
	border-right: 0px solid transparent !important;
	border-top: 0 solid transparent !important;
	color: #ffffff !important
}

.gcr-row-1 .gcr-col-1 .gcr-block-4 a {
	background-color: #0000ff;
	border-radius: 4px;
	color: #ffffff;
	direction: ltr;
	font-family: inherit;
	word-break: break-word;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 200%;
	padding: 3px 25px;
	width: auto
}


code {
	background-color: #ddf;
	padding: 0.3rem 0.4rem;
	border-radius: 4px;
	font-size: 10px;
	font-family: "Roboto", RobotoDraft, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-style: italic;
	color: #00f;
}

blockquote {
	padding-left: 2rem;
	position: relative;
	overflow: hidden;
	color: #00f;
}

blockquote p {
	margin: 0;
}

blockquote::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='%23777777'%3E%3Cpath d='M9.983 3v7.391C9.983 16.095 6.252 19.961 1 21l-.995-2.151C2.437 17.932 4 15.211 4 13H0V3h9.983zM24 3v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151C16.437 17.932 18 15.211 18 13h-3.983V3H24z'/%3E%3C/svg%3E");
	position: absolute;
	left: 0;
	color: #262626;
}

blockquote::after {
	content: "";
	position: absolute;
	color: #777;
	left: 5px;
	top: 25px;
	width: 1px;
	height: 100%;
	background-color: currentColor;
}

hr {
	border: none;
	height: 40px;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640.94 14.77"><path d="m1,7.39C94.46-.99,191.83-1.26,320.47,7.39c128.64,8.65,226.01,8.38,319.47,0" fill="none" stroke="%23000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/></svg>') center center no-repeat;
	background-size: contain;
	/*! margin: 1rem auto; */
}
