<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="utf-8" />
  <meta content="width=device-width" name="viewport" />
  <title>{{ page.title }}</title>
  <meta content="summary_large_image" name="twitter:card" />
  <meta content="website" property="og:type" />
  <meta content="" property="og:description" />
  <meta content="" property="og:url" />
  <meta content="./img/exemplo.jpg" property="og:image" />
  <meta content="" property="og:title" />
  <meta content="" name="description" />
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
 </head>
 <body>
   <div class="gcr-page-container">
    {% include header.html %}
    <div class="gcr-row-content">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
</body>
</html>
