---
layout: default
---
<!-- titulo H1 _layouts/post.html-->
 <h1>{{ page.title }}</h1>
</div>
<div class="gcr-block gcr-block-3 gcr-paragraph">
 <!-- content _layouts/post.html-->
 {{ content }}
 <!-- inicio agradecimento _layouts/post.html-->
<hr />

<p><img src="https://media.beehiiv.com/uploads/asset/file/2e193470-d5dd-40f8-9fa4-e1d894c2542b/THE_STORY.png" alt="" /></p>

<div class="gcr-block gcr-block-4 gcr-button">
<a class="gcr-button-content" href="https://api.whatsapp.com/send?text=Estou+AMANDO+essa+newsletter%21+%0A%0AChega+todo+domingo+de+manh%C3%A3+com+uma+hist%C3%B3ria+de+amor+para+aquecer+o+cora%C3%A7%C3%A3o.+%F0%9F%A7%B8%0A%0AColoque+seu+e-mail+aqui+para+receber+tamb%C3%A9m%3A+{{ page.url | absolute_url }}" target="_blank">
<span>COMPARTILHE ESSA EDIÇÃO</span>
</a>
</div>

<hr />

<h5 id="a-próxima-pode-ser-a-sua-"><strong>A próxima pode ser a sua</strong> 💌</h5>

<h5 id="final-notes"><strong>FINAL NOTES</strong></h5>

<p><strong>Gostou da história que leu?</strong> A próxima pode ser a sua. Conte pra gente aquela história de amor que só você sabe e tem dentro de si. Afinal, todo mundo tem a sua.</p>

<p><strong>Envie para:</strong> love@geanramos.com.br</p>

<p>Queremos compartilhar, pelo menos um pouquinho, desse sentimento que você tem aí dentro. <strong>Você nunca sabe o que ele pode provocar nas pessoas…</strong></p>

<hr />

<h5 id="the-geanme-"><strong>the gean.me</strong> 🧸</h5>

<p><strong>Nem sempre com finais felizes, mas sempre verdadeiras.</strong> Histórias de quem realmente sentiu algo sincero, diretamente entregues na sua caixa de entrada.</p>

<p>A cada história uma emoção. Sempre aos domingos de manhã, às 08:08.</p>

<hr />

<h5 id="até-domingo-que-vem"><strong>até domingo que vem!</strong></h5>

<p>Sempre chegamos a sua caixa de entrada por volta das 08:08. Alguns servidores de e-mail são teimosos e atrasam… Outros são piores ainda e nos jogam para o spam e/ ou promoções. Sempre que não nos encontrar na caixa de entrada, procure nessas duas.</p>

<!-- final agradecimento _layouts/post.html-->
